<section class="seccionfinal">
    <div class="container">
        <div class="row d-flex"> <!-- Agrega 'd-flex' para utilizar flexbox -->
            <!-- Información del Proyecto -->
            <div class="col-md-4">
                <strong><h2>Gestión de Abogados</h2></strong>
                <p>Una plataforma para la gestión integral de abogados y casos jurídicos.</p>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> Oficina Principal: Calle Legal, 456, Ciudad, Código Postal</li>
                    <li><i class="fas fa-phone"></i> +57 987 654 3210</li>
                    <li><i class="fas fa-envelope"></i> contacto♦lawcasehub.org</li>
                </ul>
            </div>

            <!-- Navegación del Proyecto -->
            <div class="col-md-2">
                <h3>Enlaces Rápidos</h3>
                <ul class="list-unstyled">
                    <li><a href="#" (click)="redirigirInicio()">Inicio</a></li>
                    <li><a href="#" (click)="redirigirDatos()">Mi Cuenta</a></li>
                    <li><a href="#">Mis Casos</a></li>
                </ul>
                <h3>Síguenos en:</h3>
                <ul class="list-inline social-buttons">
                    <li><a href=""><img src="../../assets/img/facebook (2).png" alt="Facebook" style="border-radius: 50%;"></a></li>
                    <li><a href=""><img src="../../assets/img/instagram.png" alt="Instagram" style="border-radius: 50%;"></a></li>
                    <li><a href=""><img src="../../assets/img/gorjeo.png" alt="Twitter" style="border-radius: 50%;"></a></li>
                </ul>
            </div>
           
            <!-- Logotipo del Proyecto -->
            <div class="col-md-4">
                <img src="../../assets/img/logo11.png" alt="Logotipo de la Plataforma de Gestión de Abogados" class="img-fluid">
            </div>
        </div>
    </div>
</section>

