<section class="paginaprincipal">

    <section class="seccion1">
        <div>
            <app-encabezado></app-encabezado>
        </div>
    </section>

    <section class="contacto">
        <div class="container">
            <h1 class="titulo1">Contacto - Oficina Legal</h1>
            <div class="contact-info">
                <div class="contact-info-item">
                    <h3>Dirección</h3>
                    <p>Calle Abogados, 456<br>Ciudad, Código Postal</p>
                </div>
                <div class="contact-info-item">
                    <h3>Teléfono</h3>
                    <p>+57 987 654 3210</p>
                </div>
                <div class="contact-info-item">
                    <h3>Correo Electrónico</h3>
                    <p>info♥oficialegal.org</p>
                </div>
            </div>
            <div class="location-map">
                <!-- Aquí iría el mapa de ubicación -->
            </div>
            <div class="additional-info">
                <h2>Información Adicional</h2>
                <strong>
                    <p>Servicios ofrecidos:</p>
                </strong>
                <br>
                <ul>
                    <li>Asesoría legal en derecho civil y penal</li>
                    <li>Defensa legal y representación en juicio</li>
                    <li>Consultas legales en materia de familia y sucesiones</li>
                </ul><br>
                <p>¡Contáctanos para más detalles y agenda tu consulta!</p>
            </div>
            <div class="faq">
                <h2>Preguntas Frecuentes</h2>
                <p><strong>¿Cuáles son los métodos de pago aceptados?</strong><br> Aceptamos efectivo, tarjetas de
                    crédito y débito.</p>
                <p><strong>¿Se puede hacer una consulta en línea?</strong><br> Sí, puedes solicitar una consulta a
                    través de nuestro sitio web o llamando a nuestro número de teléfono.</p>
                <p><strong>¿Cuáles son los horarios de atención?</strong><br>Los horarios son: LUNES - VIERNES : 9am a 6pm
                    y SÁBADOS: 10AM a 2PM</p>
                <!-- Otras preguntas frecuentes -->
            </div>
        </div>
    </section>

    <section class="piePagina">
        <app-footer></app-footer>
    </section>
</section>
