.nav-botones {
    display: flex; /* Cambia a flex para permitir centrado */
    flex-direction: column; /* Cambia la dirección a columna para apilar botones */
    align-items: center; /* Centra los botones horizontalmente */
    margin-top: 20px; /* Añade un margen para separar de la sección de estadísticas */
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%; /* Ajusta el ancho según sea necesario */
    height: 50px; /* Define una altura adecuada para los botones */
    border-radius: 5px;
    background-color: rgb(14,62,88);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    margin: 10px 0; /* Espaciado vertical entre botones */
}

.boton button {
    color: #ffffff;
    background-color: transparent;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    width: 100%; /* Hace que el botón llene el contenedor */
}

.boton:hover {
    background-color: #000000;
    color: #ffffff;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stat-item {
    text-align: center;
}
