<section class="seccion1">
  <div><app-admin-menu></app-admin-menu></div>
</section>

<section class="tabla-abogados-container">
  <h1>Lista de Casos:</h1>

  <button (click)="abrirFormularioCaso()" class="info-item boton-crear-caso">Crear Nuevo Caso</button>
  <table class="tablaAbogados" id="tabla-abogados">
      <thead>
          <tr> 
              <th scope="col">ID</th>
              <th scope="col">Abogado Encargado</th>
              <th scope="col">Cliente</th>
              <th scope="col">Estado del Caso</th>
              <th scope="col">Descripción</th>
              <th scope="col">Evidencia</th>
              <th scope="col">Testimonios</th>
              <th scope="col">Rama</th>
              <th scope="col">Se creó</th>
              <th scope="col">Se actualizó</th>
              <th scope="col">Acciones</th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let caso of datos">
              <td>{{caso.id}}</td>
              <td>{{caso.id_abogado_encargado}}</td>
              <td>{{caso.id_cliente}}</td>
              <td>{{caso.estado_caso}}</td>
              <td>{{caso.descripcion_caso}}</td>
              <td>{{caso.evidencia}}</td>
              <td>{{caso.testimonios}}</td>
              <td>{{caso.rama_id}}</td>
              <td>{{caso.creado_en}}</td>
              <td>{{caso.actualizado_en}}</td>
              <td>
                  <button (click)="abrirFormularioEdicion(caso)" class="boton-accion boton-editar">Editar</button>
                  <button (click)="eliminarCaso(caso.id)" class="boton-accion boton-eliminar">Eliminar</button>
              </td>
          </tr>
      </tbody>
  </table>

  <button (click)="volverAdminPrincipal()" class="info-item">Volver a Admin Principal</button>
</section>

<app-footer></app-footer>
<div *ngIf="formularioVisible" class="modal-overlay">
  <div class="modal-content">
    <h2>{{ casoSeleccionado ? 'Editar Caso' : 'Crear Nuevo Caso' }}</h2>
    <form (ngSubmit)="casoSeleccionado ? actualizarCaso() : crearCaso()">
      <!-- Abogado -->
      <div class="form-group">
    <label for="abogado">Abogado Encargado:</label>
    <input type="text" id="abogado" [(ngModel)]="filtroAbogado" (input)="buscarAbogados()" placeholder="Buscar abogado..." name="abogado" required>
    <ul *ngIf="resultadosAbogados.length > 0" class="suggestions">
        <li *ngFor="let abogado of resultadosAbogados" (click)="seleccionarAbogado(abogado)">
            {{ abogado.nombre }}
        </li>
    </ul>
</div>

    <!-- Campo de búsqueda para Cliente -->
<div class="form-group">
  <label for="cliente">Cliente:</label>
  <input type="text" id="cliente" [(ngModel)]="filtroCliente" (input)="buscarClientes()" placeholder="Buscar cliente..." name="cliente" required>
  <ul *ngIf="resultadosClientes.length > 0" class="suggestions">
      <li *ngFor="let cliente of resultadosClientes" (click)="seleccionarCliente(cliente)">
          {{ cliente.nombre }}
      </li>
  </ul>
</div>

      <!-- Descripción del Caso -->
      <div class="form-group">
        <label for="descripcion_caso">Descripción del Caso:</label>
        <textarea id="descripcion_caso" [(ngModel)]="casoEnEdicion.descripcion_caso" name="descripcion_caso" required></textarea>
      </div>

      <!-- Estado del Caso -->
      <div class="form-group">
        <label for="estado_caso">Estado del Caso:</label>
        <select id="estado_caso" [(ngModel)]="casoEnEdicion.estado_caso" name="estado_caso" required>
          <option value="abierto">Abierto</option>
          <option value="finalizado">Finalizado</option>
        </select>
      </div>

      <!-- Evidencia -->
      <div class="form-group">
        <label for="evidencia">Evidencias:</label>
        <textarea id="evidencia" [(ngModel)]="casoEnEdicion.evidencia" name="evidencia" required></textarea>
      </div>

      <!-- Testimonios -->
      <div class="form-group">
        <label for="testimonios">Testimonios:</label>
        <textarea id="testimonios" [(ngModel)]="casoEnEdicion.testimonios" name="testimonios" required></textarea>
      </div>

      <!-- Rama -->
      <div class="form-group">
        <label for="rama_id">Rama del Derecho:</label>
        <select id="rama_id" [(ngModel)]="casoEnEdicion.rama_id" name="rama_id" required>
          <option value="1">Derecho Civil</option>
          <option value="2">Derecho Penal</option>
          <option value="3">Derecho Administrativo</option>
          <option value="4">Derecho Laboral</option>
          <option value="5">Derecho Comercial</option>
          <option value="6">Derecho Internacional</option>
          <option value="7">Derecho Constitucional</option>
          <option value="8">Derecho Ambiental</option>
        </select>
      </div>

      <!-- Botones -->
      <div class="button-group">
        <button type="submit" class="info-item">{{ casoSeleccionado ? 'Actualizar Caso' : 'Crear Caso' }}</button>
        <button type="button" (click)="cerrarFormularioCaso()" class="info-item cancel-button">Cancelar</button>
      </div>
    </form>
  </div>
</div>