<div class="logo">
  <img class="img1" src="../../assets/img/logoabogados2.png" alt="">
</div>
<div class="container" id="container">
  <div class="form-container sign-up-container">
      <form (ngSubmit)="onSubmitRegistro()" [formGroup]="formularioRegistro" id="registrationForm">
          <h1>Crea Tu Cuenta</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-twitter"></i></a>
          </div>
          <span>O usa tu correo para crear una nueva</span>
          <input type="text" placeholder="Nombre" formControlName="nombre" required />
          <div *ngIf="formularioRegistro?.get('nombre')?.invalid && formularioRegistro?.get('nombre')?.touched" class="error-message">
            El nombre es obligatorio.
          </div>
          
          <input type="email" placeholder="Correo" formControlName="correo" required />
          <div *ngIf="formularioRegistro?.get('correo')?.invalid && formularioRegistro?.get('correo')?.touched" class="error-message">
            El correo es obligatorio y debe ser un correo electrónico válido.
          </div>
          
          <input type="password" placeholder="Contraseña" formControlName="contrasena" required />
          <div *ngIf="formularioRegistro?.get('contrasena')?.invalid && formularioRegistro?.get('contrasena')?.touched" class="error-message">
            La contraseña es obligatoria.
          </div>

          <input type="text" placeholder="Teléfono" formControlName="telefono" required />
          <div *ngIf="formularioRegistro?.get('telefono')?.invalid && formularioRegistro?.get('telefono')?.touched" class="error-message">
            El teléfono es obligatorio.
          </div>

          <input type="text" placeholder="Edad" formControlName="edad" required />
          <div *ngIf="formularioRegistro?.get('edad')?.invalid && formularioRegistro?.get('edad')?.touched" class="error-message">
            La edad es obligatoria.
          </div>

          <input type="text" placeholder="Direccion" formControlName="direccion" required />
          <div *ngIf="formularioRegistro?.get('direccion')?.invalid && formularioRegistro?.get('direccion')?.touched" class="error-message">
            La ciudad es obligatoria.
          </div>
          
          <button type="submit">Registrarse</button>
        </form>
        
  </div>
  <div class="form-container sign-in-container">
    <form (ngSubmit)="onSubmitLogin()" [formGroup]="formularioLogin" id="form2">
      <h1>Inicia Sesión</h1>
      <select formControlName="tipoUsuario" required>
        <option value="" disabled selected>Selecciona el tipo de usuario</option>
        <option value="cliente">Cliente</option>
        <option value="abogado">Abogado</option>
      </select>
      <input type="email" placeholder="Email" formControlName="correo" required />
      <input type="password" placeholder="Password" formControlName="password" required/>
      <button type="submit">Iniciar Sesión</button>
    </form>
    
  
  </div>
  <div class="overlay-container">
      <div class="overlay">
          <div class="overlay-panel overlay-left">
              <h1>Bienvenido de Vuelta!</h1>
              <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
              <button class="ghost" id="signIn">Acceder</button>
          </div>
          <div class="overlay-panel overlay-right">
              <h1>Hola, Amigo!</h1>
              <p>
                  Introduce tus datos personales y comienza tu viaje con nosotros.</p>
              <button class="ghost" id="signUp">REGISTRATE</button>
          </div>
      </div>
  </div>
</div>
