

    <app-admin-menu></app-admin-menu>

<main>
    <div class="tabla-abogados-container">
        <h2>Crear Usuario</h2>
        <form (ngSubmit)="crearUsuario()">
          
          <!-- Campo ID (opcional si se genera automáticamente en el backend) -->
          <!-- <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" id="id" [(ngModel)]="usuario.id" name="id" class="info-item">
          </div> -->
      
          <!-- Nombre -->
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" [(ngModel)]="usuario.nombre" name="nombre" required class="info-item">
          </div>
      
          <!-- Correo -->
          <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="email" id="correo" [(ngModel)]="usuario.correo" name="correo" required class="info-item">
          </div>
      
          <!-- Contraseña -->
          <div class="form-group">
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" [(ngModel)]="usuario.contrasena" name="contrasena" required class="info-item">
          </div>
      
          <!-- Teléfono -->
          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" [(ngModel)]="usuario.telefono" name="telefono" required class="info-item">
          </div>
      
          <!-- Selección de Rol -->
          <div class="form-group">
            <label for="rol">Rol:</label>
            <select id="rol" [(ngModel)]="usuario.rol" name="rol" (change)="onRolChange($event)" required class="info-item">
              <option value="">Seleccione un rol</option>
              <option value="admin">Administrador</option>
              <option value="abogado">Abogado</option>
              <option value="cliente">Cliente</option>
            </select>
          </div>
      
          <!-- Campos adicionales para Abogado -->
          <div *ngIf="usuario.rol === 'abogado' || usuario.rol === 'admin'" class="form-group">
            <label for="rama_id">Rama del Derecho:</label>
            <select id="rama_id" [(ngModel)]="usuario.rama_id" name="rama_id" required class="info-item">
                <option *ngFor="let rama of ramasDerecho" [value]="rama.id">{{ rama.nombreRama }}</option>
            </select>
          </div>
      
          <!-- Campos adicionales para Cliente -->
          <div *ngIf="usuario.rol === 'cliente'" class="form-group">
            <div>
              <label for="edad">Edad:</label>
              <input type="number" id="edad" [(ngModel)]="usuario.edad" name="edad" required class="info-item">
            </div>
            <div>
              <label for="direccion">Dirección:</label>
              <input type="text" id="direccion" [(ngModel)]="usuario.direccion" name="direccion" required class="info-item">
            </div>
          </div>
      
          <!-- Botón para enviar -->
          <button type="submit" class="info-item">Crear Usuario</button><br><br>
          <!-- Botón para volver a Admin Principal -->
          <button (click)="volverAdminPrincipal()" class="info-item">Volver Principal</button>

      
        </form>
      </div>
</main>



      

<app-footer></app-footer>
