<div>
    <img (click)="redirigirInicio()" class="logo2" src="../../assets/img/logoabogados2.png" alt="logo" />

    <div class="eclipses">
        <div class="circulo1"></div>
        <div class="circulo2"></div>
        <div class="circulo3"></div>
    </div>

    <div class="nav-botones">
        <div class="boton" *ngIf="!loggedIn()">
            <button type="" class="signin" (click)="redirigirALogin()">Acceso</button>
        </div>
        <div class="boton" *ngIf="!loggedIn()">
            <button type="" class="signin2" (click)="redirigirALogin()">Registro</button>
        </div>
        <div class="boton" *ngIf="loggedIn()">
            <button type="button" class="loggedin" (click)="redirigirADatosCuentaAbogados()">Mi Cuenta</button>
        </div>

        <div class="boton" *ngIf="loggedIn()">
            <button type="button" class="loggedin" (click)="logout()">Abogado:  {{ getUsername() }}</button>
        </div>

    </div>

    <div class="navbar">
        <button class="barra" type="" (click)="redirigirInicio()">Inicio</button>
        <button class="barra" type="" (click)="redirigirARegistroCasosAbogados() ">Nuevo Caso</button>
        <button class="barra" type="" (click)="redirigirACasosAbogados()">Mis Casos</button>
        <button class="barra" type="" (click)="redirigirAContacto()">Contacto</button>
    </div>
</div>